


{% extends 'base.html.twig' %}
{% block header %}
<header class="bg-gradient" id="home" data-parallax="scroll" data-speed="0.5" data-image-src="{{episode.image.original}}">

    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-border navbar-transparent">
        <div class="container">
            <ul class="navbar-nav">
                <li>    <a class="nav-link" href="./">
                        <i class="fas fa-arrow-left"></i> Back to home
                    </a></li>
            </ul>


        </div>

    </nav>


    <section class="jumbotron text-center d-flex align-items-center">
        <div class="container"  data-aos="fade-up">
            <h1 class="display-3 d-inline-block">{{episode.name}} <small><span class="badge badge-primary align-top">S.{{episode.season}} E.{{episode.number}}</span></small></h1>
            <div>
                <ul class="list-inline text-light">
                    <li class="list-inline-item">Airdate </li>
                    <li class="list-inline-item"> | </li>
                    <li class="list-inline-item">{{episode.airdate}}</li>

                 </ul>
            </div>
            <div class="display-5"> {{episode.summary | raw}}</div>
            <p>
                    <a href="{{episode.url}}" target="_blank" class="btn btn-lg btn-outline " style="animation: arrowbounce 1s alternate infinite;">More infos</a>
                </p>
        </div>

    </section>

</header>
{% endblock %}
{% block body %}


   
{% endblock %}

{% block stylesheets %}

{% endblock %}
