{% extends 'base.html.twig' %}

{% block header %}
<header class="bg-gradient home" id="home" data-parallax="scroll" data-speed="0.5" data-image-src="{{listing.resources.image.original}}">

    <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse navbar-border navbar-transparent">
        <div class="container">
            <ul class="navbar-nav  d-none">
                <li>    <a class="nav-link" href="#home">
                        <i class="fas fa-arrow-up"></i> Back to top
                    </a></li>
            </ul>


        </div>

    </nav>


    <section class="jumbotron text-center d-flex align-items-center">
        <div class="container"  data-aos="fade-up">
            <h1 class="display-3  ">{{listing.resources.name}}</h1>
            <div class="display-5">{{listing.resources.summary | raw}}</div>
            <p class="my-4  "> 
                    <div>
                            <ul class="list-inline text-light">
                                <li class="list-inline-item">Genres:</li>
                                {% for genres in listing.resources.genres %}
                                <li class="list-inline-item">{{genres}} </li>                                
                                {% endfor %}
                                <li class="list-inline-item"> | </li>
                                <li class="list-inline-item">Rating:</li>
                                <li class="list-inline-item text-success font-weight-bold">{{listing.resources.rating.average}}/10 </li>
                                <li class="list-inline-item"> | </li>
                                <li class="list-inline-item">Available on:</li>
                                <li class="list-inline-item text-warning">{{listing.resources.webChannel.name}}</li>
   
                             </ul>
                        </div>
                

                </span>

                                
            </p>
            <p>
                <a href="#episode" class="btn btn-lg btn-outline " style="animation: arrowbounce 1s alternate infinite;">Episode list</a>
            </p>
        </div>

    </section>

</header>
{% endblock %}
{% block body %}
<div class="section bg-light" id="episode">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="display-4">Listing of all episodes</h2>
            <p class="lead py-2">It's seems that the 2014 chrimstas one is missing</p>
        </div>
        <div class="row">
            {% for episode in listing.resources._embedded.episodes %}

            <div class="col-md-6 col-lg-4" >
                <div class="card mb-4"   data-aos="flip-up">
                    <div class="card-block">
                        <div class="media">
                            <a class="media-body p-2" href="./{{episode.id}}">            
                                {% set text = episode.summary | raw %}
                                <h5 class="mt-0">{{ episode.name|e }} </h5> 
                                <span class="badge badge-pill badge-info">season: {{ episode.season|e }} </span> <span class="badge badge-pill badge-light">episode: {{ episode.number|e }} </span><br />
                                {{ text|length > 100 ? text|slice(0, 100) ~ '...' : text | raw }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

        {% endblock %}

        {% block stylesheets %}

        {% endblock %}
